
@media (min-width: 1920px) 
{
	.container 
	{
		max-width: 1740px;
	}

	.login-card{
		width: 30vw;
	}
}

@media (max-width: 1920px) 
{
	.login-card{
		width: 35vw;
	}
}

@media (max-width: 1600px) 
{
	.login-card{
		width: 40vw;
	}
}
@media (max-width: 1000px) 
{
	.login-card{
		width: 50vw;
	}
}
@media (max-width: 800px) 
{
	.login-card{
		width: 70vw;
	}
}
@media (max-width: 500px) 
{
	.login-card{
		width: 80vw;
	}
}

.container 
{
	padding-top: 40px;
}

#MasterAlerts{
	position: fixed;
	bottom: 1em;
	left: 2.5vw;
	width: 95vw;
}

.login-body
{
	background-color: dimgray;
}

.login-container 
{

	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
	height: 100vh;
	background-color: dimgray;
}



.form-signin
{
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-control 
{
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus 
{
	z-index: 2;
}
.form-signin input[type="email"] 
{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] 
{
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

td.unpadded
{
	padding: 0;
}

.td-collapse
{
	margin-left: 0.75em;
	margin-right: 0.75em;
}


.td-collapse.collapse.show
{
	transition: margin 500ms;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

.div-table-head
{
	padding: 0.75rem;
}

.div-table-body > div.row
{
	padding: 0.75em;
	background-color: #454d55;
	color: #FFF;
}

.div-table-body > div.row :nth-of-type(odd)
{
	background-color: rgba(255,255,255,.05)
}